include README.md
include README.ja.md
include CHANGELOG.md
include pycedar/VERSION
include pycedar/pycedar.pxd
include pycedar/pycedar.pyx
include pycedar/core/cedar/AUTHORS
include pycedar/core/cedar/BSD
include pycedar/core/cedar/COPYING
include pycedar/core/cedar/GPL
include pycedar/core/cedar/LGPL
include pycedar/core/cedar/THANKS
include pycedar/core/cedar/src/cedarpp.h
recursive-include tests *.py
